@font-face {
    font-family: 'MyFonts';
    src:  url("./fonts/SFProDisplay-Regular.woff2") format('woff2'),
          url('./fonts/SFProDisplay-Regular.woff') format('woff');
}

html {
    height: 100%;
    width: 100%;
    color: white;
    position: fixed;
}   

body {
    background-size: cover;     
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "MyFonts";
}

#background-image {
    background-image: url(./images/background.png);
    background-color: black;
}

#new-image {
    background-color: #4B9CD3;
}

#background-change-form {
    width: 700px;
}

.one {
    margin: 0%;
    margin-top: -50px;
    font-size: 53px;
    font-weight: 900;
}

.two {
    margin: 0%;
    font-size: 25px
}

#two-line-two{
    margin-top: -15px;
}

#two-line-three{
    margin-top: 10px;
    margin-bottom: 35px;
}

#fill-form-flex{
    display: flex;
    width: 100%;
}

.fill-form {
    background-color: black;
    color:white;
    width: 95%;
    height: 56px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 10px;
    font-weight: 900;
    border-radius: 15px;
    border: 2px solid #808080
}

::placeholder{
    color: white;
}

#handle-fill{
    border-color: green;
}

.three {
    margin: 0%;
    margin-top: -8px;
    font-weight: 900;
    font-size: 14.75px;
}

#button-properties {
    background-color: var(--background-color);
	color: black;
    font-family: "MyFonts";
    border-radius: 15px;
    height: 56px;
    width: 343px;
    font-weight: bolder;
    font-size: 15px;
    border: 2px solid black;
    margin-top: 35px;
    position: relative;
    cursor: pointer;
    --background-color: white;
    z-index: 1;
}

#button-properties::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 13px;    
    background-color: #4B9CD3;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: left;
}

#button-properties:hover::before,
#button-properties:focus::before {
    transform: scaleX(1);
}




